<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div id="main_container">
    <form id="chat" id="chat_form" action="/api/logout">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>